
#app {
	background:url('/../images/bg_auth.png') no-repeat;
	background-size: cover;
	height: 100vh;	
	.card{
		background: none;
		border:none;		
		.card-header{
			background: none;
			border:none;
			text-align: center;
			h3{
				color:$blackblue;
				font-weight: 700;
			}
		}
		.card-body{
			.form-group{
				button[type="submit"]{
					width: 100%;
				}
			}
		}
	}
}

table.order{	
	thead {
		th{
			font-size: 10px;
			//white-space: nowrap;
		}	
	}
	tbody{
		td{
			font-size: 12px;
			//white-space: nowrap;
		}		
	}	
}

.dropzone{
	border: 2px dashed #E87E04;

	i, h3{
		color:#E87E04;
	}
	.dz-preview{
		.dz-error-message{
			color: white;
			top:157px;
		}
	}
	.dropzone_icon{
		font-size: 30px;
		margin:30px 0px;
	}
}

.caption{
	img.page-logo{
		max-height: 30px;
	}
}

.dataTables_length{
	label{
		span.pageLength{
			margin-left: 50px;
		}		
	}	
}

.tracking_box{
	width: 170px;
	margin: -5px auto;	
}


