.flex-row{
	display: flex!important;
	flex-direction: row!important;
}
.align-items-center{
	align-items: center!important;
}
.justify-content-center{
	justify-content: center!important;
}
#app {
	background:url('/../images/bg_auth.png') no-repeat;
	background-size: cover;
	height: 100vh;	
	.card{
		background: none;
		border:none;		
		.card-header{
			background: none;
			border:none;
			text-align: center;
			h3{
				color:$blackblue;
				font-weight: 700;
			}
		}
		.card-body{
			.form-group{
				button[type="submit"]{
					width: 100%;
				}
			}
		}
	}
}

table.detail{
	thead th, tbody td{
		font-size: 16px;
	}	
}

table.product{
	thead th, tbody td{
		font-size: 12px;
	}	
}

table.order{
	thead {		
		th{
			font-size: 10px;
			//white-space: nowrap;
			line-height: 1.5em;
		    height: 3em;       /* height is 2x line-height, so two lines will display */
		    overflow: hidden; 
		    width: 15px;
		    padding-left: 5px!important;
		    padding-right: 20px!important;
		}	
	}
	tbody{
		td{
			font-size: 12px;
			//white-space: nowrap;
			.pdf_link{
				margin-left: -3px;
			}
			.esker_email img{
				width: 20px;
				margin-top: -10px;
				margin-right: -5px;
			}
		}		
	}	
	.po_details{
		thead tr td{
			font-size: 10px;
		}
	}	
}

table.dataTable{
	thead{
		.sorting_asc:after, .sorting_desc:after{
			color: #00008b;
			opacity: 0.8;
		}	
	} 	
} 

tr.child {
	table{
		margin-bottom: 0px;
		td.product_tracking select{
			padding: 6px 4px;
			width: 150px!important;
		}
	}
}

#detail{
	.portlet.light{
		.portlet-title{
			.caption{
				.caption-subject{
					font-size: 24px;
				}
			}
		}	
		.portlet-body{
			.panel-title{
				font-size: 22px;
			}
		}
	}
}

.dropzone{
	border: 2px dashed #E87E04;

	i, h3{
		color:#E87E04;
	}
	.dz-preview{
		.dz-error-message{
			color: white;
			top:157px;
		}
	}
	.dropzone_icon{
		font-size: 30px;
		margin:30px 0px;
	}
}

.caption{
	img.page-logo{
		max-height: 30px;
	}
}

.dataTables_length{
	label{
		span.pageLength{
			margin-left: 50px;
		}		
	}	
}

.tracking_number{
	min-width: 280px;
}

.tracking_box{	
	margin: -5px 0;		
	min-width: 296px;
	div{
		float: left;
		select{
			width: 150px !important;
			padding: 6px 4px;
		}
		a{
			font-size: 20px;
			line-height: 32px;
			margin-right: 5px;
		}	
		input{
			width: 114px !important;
		}
	}	
}
.tracking_status i{
	margin: 0 5px;
	// &:last-child{
	// 	margin-right: 0px;
	// }
}

.page-header.navbar{	
	.page-logo{
		width: 100px;
		padding:0 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		.logo-default{
			width: 100%;
			margin-top: 0px;
			margin-left: 0px;
		}
		.logo-sm{
			width: 30px;
		}
	}
	.nav{
		li{
			padding: 4px 0px;
			a{
				img{
					margin-top: 5px;
					border:1px solid #eee;
				}
			}
			a:hover{
				background-color:transparent;
				img{
					-webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
					-moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
					box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
				}
			}
		}
	}
} 

.data-picker, .po-data-picker{
	select[name='trader_type']{
		min-width: 105px;
	}
	input[name='po_date_range']{
		min-width: 165px;
	}
}

.tab-content{
	.portlet-body{
		overflow-x: scroll;
	}	
}

form{
	div.form-group{
		input.error, select.error{
			border-color: #e73d4a;
		}
		label.error{
			color: #e73d4a;
			font-size: 12px;
		}
	}
}

div.fileinput-po{
	display: block;
	color: #6f6f6f;
	>span{
		width: 100%;
    	text-align: left;
	}
	input[type='file']{
		cursor: pointer;
	}
}

form.po_detail_form{
	overflow: hidden;
	input[type='file']{
		font-size: 500px;
	}
}
#apis .api-to-list-container{
	width: 100%;
	.api-to-list{
		list-style: none;
		padding-left: 0px;
		margin-bottom: 0px;
	}
	input{
		width: 120px;
	}
	i{
		cursor: pointer;
	}
}