#app {
	background:url('/../images/bg_auth.png') no-repeat;
	background-size: cover;
	height: 100vh;	
	.card{
		background: none;
		border:none;		
		.card-header{
			background: none;
			border:none;
			text-align: center;
			h3{
				color:$blackblue;
				font-weight: 700;
			}
		}
		.card-body{
			.form-group{
				button[type="submit"]{
					width: 100%;
				}
			}
		}
	}
}

table.detail{
	thead th, tbody td{
		font-size: 16px;
	}	
}

table.product{
	thead th, tbody td{
		font-size: 12px;
	}	
}

table.order{	
	thead {
		th{
			font-size: 10px;
			//white-space: nowrap;
		}	
	}
	tbody{
		td{
			font-size: 12px;
			//white-space: nowrap;
		}		
	}		
}

table.dataTable{
	thead{
		.sorting_asc:after, .sorting_desc:after{
			color: #00008b;
			opacity: 0.8;
		}	
	} 	
} 

tr.child {
	table{
		margin-bottom: 0px;
	}
}

#detail{
	.portlet.light{
		.portlet-title{
			.caption{
				.caption-subject{
					font-size: 24px;
				}
			}
		}	
		.portlet-body{
			.panel-title{
				font-size: 22px;
			}
		}
	}
}

.dropzone{
	border: 2px dashed #E87E04;

	i, h3{
		color:#E87E04;
	}
	.dz-preview{
		.dz-error-message{
			color: white;
			top:157px;
		}
	}
	.dropzone_icon{
		font-size: 30px;
		margin:30px 0px;
	}
}

.caption{
	img.page-logo{
		max-height: 30px;
	}
}

.dataTables_length{
	label{
		span.pageLength{
			margin-left: 50px;
		}		
	}	
}

.tracking_number{
	width: 270px;
}

.tracking_box{	
	margin: -5px 0;	
	div{
		float: left;
		select{
			width: 120px !important;
			padding: 6px 4px;
		}
		a{
			font-size: 20px;
			line-height: 32px;
			margin-right: 5px;
		}	
		input{
			width: 114px !important;
		}
	}	
}
.tracking_status i{
	margin-right: 10px;
	&:last-child{
		margin-right: 0px;
	}
}

.page-header.navbar .page-logo{
	width: 100px;
}

.page-header.navbar .page-logo .logo-default{
	margin-left: 0px;
}

.data-picker, .po-data-picker{
	select[name='trader_type']{
		min-width: 105px;
	}
	input[name='po_date_range']{
		min-width: 165px;
	}
}

form{
	div.form-group{
		input.error, select.error{
			border-color: #e73d4a;
		}
		label.error{
			color: #e73d4a;
			font-size: 12px;
		}
	}
}

div.fileinput-po{
	display: block;
	color: #6f6f6f;
	>span{
		width: 100%;
    	text-align: left;
	}
	input[type='file']{
		cursor: pointer;
	}
}
