/* Normal css */
.pl-10{
	padding-left: 10px;
}
.pt-20{
	padding-top: 20px;
}
.pt-40{
	padding-top: 40px;
}
.pt-80{
	padding-top: 80px;
}
.ml-10{
	margin-left: 10px;
}
/* button */
.form-rounded{
	border-radius: 25px;
}
.btn-round{
	border-radius: 25px;
}

/* icon font */
i.red{
	color:#e73d4a;
}
i.green{
	color:#32c5d2;
}
