/* Normal css */
.pl-10{
	padding-left: 10px;
}
.pt-20{
	padding-top: 20px;
}
.pt-40{
	padding-top: 40px;
}
.pt-80{
	padding-top: 80px;
}
.ml-10{
	margin-left: 10px;
}
.mr-10{
	margin-right: 10px;
}
.mr-30{
	margin-right: 30px;
}
/* button */
.form-rounded{
	border-radius: 25px;
}
.btn-round{
	border-radius: 25px;
}

/* width */
.w-50{
	width: 50%;
}

/* icon font */
i.red{
	color:#e73d4a;
}
i.green{
	color:#28a745;
}
i.orange{
	color:#ffc107;
}

.nowrap{
	white-space: nowrap;
}
