@media (min-width: 1600px) {
  
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) {	
	.page-sidebar {
    	width: 100px;
    }	
    .page-content-wrapper .page-content {
    	margin-left: 100px;
    	padding:15px;
    }
    .page-sidebar-menu.page-sidebar-menu-hover-submenu>li:hover>.sub-menu{
    	margin-left: 100px;
    }    
}

@media (max-width: 1200px) {

}
@media (max-width: 1024px) {

}

@media (max-width: 991px){

}

@media (max-width: 767px) {

}

@media ( max-width: 576px ){
	
}

