@import url(https://fonts.googleapis.com/css?family=Nunito);/* Normal css */

.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-80 {
  padding-top: 80px;
}

/* button */

.form-rounded {
  border-radius: 25px;
}

.btn-round {
  border-radius: 25px;
}

#app {
  background: url("/../images/bg_auth.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

#app .card {
  background: none;
  border: none;
}

#app .card .card-header {
  background: none;
  border: none;
  text-align: center;
}

#app .card .card-header h3 {
  color: #273a5f;
  font-weight: 700;
}

#app .card .card-body .form-group button[type=submit] {
  width: 100%;
}

