@import url(https://fonts.googleapis.com/css?family=Nunito);/* Normal css */

.pl-10 {
  padding-left: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-80 {
  padding-top: 80px;
}

.ml-10 {
  margin-left: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-30 {
  margin-right: 30px;
}

/* button */

.form-rounded {
  border-radius: 25px;
}

.btn-round {
  border-radius: 25px;
}

/* width */

.w-50 {
  width: 50%;
}

/* icon font */

i.red {
  color: #e73d4a;
}

i.green {
  color: #32c5d2;
}

.nowrap {
  white-space: nowrap;
}

#app {
  background: url("/../images/bg_auth.png") no-repeat;
  background-size: cover;
  height: 100vh;
}

#app .card {
  background: none;
  border: none;
}

#app .card .card-header {
  background: none;
  border: none;
  text-align: center;
}

#app .card .card-header h3 {
  color: #273a5f;
  font-weight: 700;
}

#app .card .card-body .form-group button[type=submit] {
  width: 100%;
}

table.detail thead th,
table.detail tbody td {
  font-size: 16px;
}

table.product thead th,
table.product tbody td {
  font-size: 12px;
}

table.order thead th {
  font-size: 10px;
}

table.order tbody td {
  font-size: 12px;
}

table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
  color: #00008b;
  opacity: 0.8;
}

tr.child table {
  margin-bottom: 0px;
}

#detail .portlet.light .portlet-title .caption .caption-subject {
  font-size: 24px;
}

#detail .portlet.light .portlet-body .panel-title {
  font-size: 22px;
}

.dropzone {
  border: 2px dashed #E87E04;
}

.dropzone i,
.dropzone h3 {
  color: #E87E04;
}

.dropzone .dz-preview .dz-error-message {
  color: white;
  top: 157px;
}

.dropzone .dropzone_icon {
  font-size: 30px;
  margin: 30px 0px;
}

.caption img.page-logo {
  max-height: 30px;
}

.dataTables_length label span.pageLength {
  margin-left: 50px;
}

.tracking_number {
  width: 270px;
}

.tracking_box {
  margin: -5px 0;
}

.tracking_box div {
  float: left;
}

.tracking_box div select {
  width: 120px !important;
  padding: 6px 4px;
}

.tracking_box div a {
  font-size: 20px;
  line-height: 32px;
  margin-right: 5px;
}

.tracking_box div input {
  width: 114px !important;
}

.page-header.navbar .page-logo {
  width: 100px;
}

.page-header.navbar .page-logo .logo-default {
  margin-left: 0px;
}

.data-picker select[name=trader_type],
.po-data-picker select[name=trader_type] {
  min-width: 105px;
}

.data-picker input[name=po_date_range],
.po-data-picker input[name=po_date_range] {
  min-width: 165px;
}

form div.form-group input.error,
form div.form-group select.error {
  border-color: #e73d4a;
}

form div.form-group label.error {
  color: #e73d4a;
  font-size: 12px;
}

@media (min-width: 992px) {
  .page-sidebar {
    width: 100px;
  }

  .page-content-wrapper .page-content {
    margin-left: 100px;
    padding: 15px;
  }

  .page-sidebar-menu.page-sidebar-menu-hover-submenu > li:hover > .sub-menu {
    margin-left: 100px;
  }
}

